@model OgrenciBilgiSistemi.Models.Ders

@{
    ViewData["Title"] = "Ders Sil";
}

<h1>Ders Sil</h1>

<h3 class="text-danger">Bu dersi silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dersKodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dersKodu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dersAd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dersAd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kredi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kredi)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="dersID" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div>