@model OgrenciBilgiSistemi.Models.Ders

@{
    ViewData["Title"] = "Ders Detayları";
}

<h1>Ders Detayları</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dersKodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dersKodu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dersAd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dersAd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kredi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kredi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.dersID" class="btn btn-warning">Düzenle</a>
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div>